---
import BrowserShot from './BrowserShot.astro';

export interface Shot {
  src: string;
  alt: string;
  url: string;
  urlAccent?: string;
  caption?: string;
  captionLabel?: string;
}

export interface Props {
  shots: [Shot, Shot];
}

const { shots } = Astro.props;
---

<div class="wrap">
  <div class="shots-2">
    {shots.map((shot) => <BrowserShot {...shot} inline />)}
  </div>
</div>
